/* Duralux Admin - minimal login required styles */
@import "../vendors/css/vendors.min.css";
@import "../vendors/css/daterangepicker.min.css";
@import "../css/bootstrap.min.css";
@import "../css/theme.min.css";
